body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(233, 201, 233);
}

.header_text {
    font-family: 'Sniglet';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sniglet-regular {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .sniglet-extrabold {
    font-family: "Sniglet", system-ui;
    font-weight: 800;
    font-style: normal;
  }
  